@import 'settings';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;

    &__logo-img { // Element 'logo-img' inside 'header' block
        width: 10rem;
    }

    &__nav { 
        &__nav-list { // Corrected to &__nav-list to match the class in React component
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 100rem;
        }

        &__item { // Element 'item' inside 'nav' block
            font-size: 19px;
            margin: 1rem 0.5rem;
        }

        &__nav-link { // Element 'nav-link' inside 'nav' block
            padding: 0.2rem 0.7rem;
            transition: all 350ms ease-in-out;

            &--active, // Modifier 'active' for 'nav-link'
            &:hover {
                font-family: 'Montserrat-Medium';
                background: hsla(0, 100%, 82%, 0.2);
                border-radius: 0.3rem;
            }
        }
    }
}
.header__nav-list {
    display: flex;
}
.header__nav-item {
    display: inline-block; /* ou autre propriété pour tester */
}

// Media queries to adjust styles for mobile devices
@media (max-width: 768px) {
    .header {
        width: 98%;

        &__logo-img { // Element 'logo-img' inside 'header' block
            width: 7rem;
        }

        &__nav {
            &__nav-list { // Corrected to &__nav-list to match the class in React component
                padding-left: 0;
            }

            &__item { // Element 'item' inside 'nav' block
                margin: 0.5rem;
            }

            &__nav-link { // Element 'nav-link' inside 'nav' block
                padding: 0.2rem 0.3rem;
            }
        }
    }
}