@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: auto;
}
.header__logo-img {
  width: 10rem;
}
@media (max-width: 768px) {
  .header__logo-img {
    width: 7rem;
  }
}
.header__nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.header__nav .header__nav-link {
  font-size: 19px;
  margin: 1rem 2.5rem;
  padding: 0.2rem 0.7rem;
  text-decoration: none;
  color: black;
  transition: all 350ms ease-in-out;
}
.header__nav .header__nav-link--active {
  font-family: "Montserrat-Medium", sans-serif;
  border-bottom: 2px solid #ff5656;
}
.header__nav .header__nav-link:hover {
  font-family: "Montserrat-Medium", sans-serif;
  color: #ff5656;
}

@media (max-width: 768px) {
  .header {
    width: 98%;
  }
  .header__nav ul {
    padding-left: 0;
  }
  .header__nav .header__nav-link {
    padding: 0.2rem 0.3rem;
  }
}
.banner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 15px auto;
}
.banner_title {
  z-index: 1;
  color: white;
  font-size: 28px;
  position: absolute;
}
@media (max-width: 768px) {
  .banner_title {
    width: 70%;
    padding-left: 1rem;
    justify-content: start;
  }
}
.banner_img {
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.8rem;
  filter: brightness(50%);
  position: relative;
}
@media (max-width: 768px) {
  .banner {
    width: 98%;
    justify-content: start;
  }
}

.hosting_container {
  width: 95%;
  margin: 2rem auto 9rem auto;
  border-radius: 0.8rem;
}
@media (max-width: 768px) {
  .hosting_container {
    background-color: transparent;
    margin: 0 0 7rem 0;
    padding: 0;
    width: 100%;
  }
}
.hosting_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem;
}
@media (max-width: 768px) {
  .hosting_list {
    padding: 0;
  }
}

.hosting {
  width: 33%;
  transition: transform 250ms ease-in-out;
}
@media (max-width: 768px) {
  .hosting {
    width: 100%;
  }
  .hosting_figure {
    margin: 1rem 0.5rem;
  }
  .hosting_figure_cover {
    height: 400px;
  }
}
@media (min-width: 768px) and (max-width: 1090px) {
  .hosting {
    width: 50%;
  }
}
.hosting_figure {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1803921569);
  margin-block: 0;
  margin-inline: 0;
  margin: 1rem;
  border-radius: 0.5rem;
}
.hosting_figure:hover {
  transform: scale(1.03);
}
.hosting_figure_cover {
  width: 100%;
  height: 290px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5rem;
}
.hosting_figure_figcaption {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 150px;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 13%, rgba(0, 212, 255, 0) 70%);
  border-radius: 0 0 0.5rem 0.5rem;
}
.hosting_figure_figcaption_title {
  color: white;
  font-size: 18px;
  width: 95%;
  position: absolute;
  left: 10px;
  bottom: 0;
}

.footer {
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  background-color: black;
}
.footer_logo {
  margin-top: 1.5rem;
  width: 6rem;
}
.footer_text {
  font-size: 16px;
  margin-bottom: 1.5rem;
  color: white;
}

.error_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title_error {
  font-weight: 700;
  font-size: 250px;
  line-height: 410px;
  margin: 0;
  color: #ff5656;
}
@media (max-width: 768px) {
  .title_error {
    font-size: 160px;
    line-height: 210px;
  }
}

.p_error {
  font-weight: 500;
  font-size: 36px;
  line-height: 51px;
  color: #FF6060;
}
@media (max-width: 768px) {
  .p_error {
    font-size: 18px;
    line-height: 25px;
  }
  .p_error span {
    display: flex;
    flex-direction: column;
  }
}

.link_error {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: black;
  margin-bottom: 1.7rem;
  text-decoration: underline;
}
@media (max-width: 768px) {
  .link_error {
    font-size: 14px;
    line-height: 19px;
    margin-top: 5rem;
  }
}

.collapse__header {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  border-radius: 0.4rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: #ff5656;
  padding: 0.4rem 0.5rem;
  margin: 0.5rem 0;
}
.collapse__header__title {
  margin: 0;
  font-size: 18px;
}
.collapse__header__icon {
  width: 20px;
  transition: transform 0.4s ease-in-out;
}
.collapse__header.expanded .collapse__header__icon {
  transform: rotate(180deg);
}
.collapse__content {
  position: relative;
  z-index: 0;
  background: white;
  border-radius: 0 0 0.3rem 0.3rem;
  font-size: 16px;
  line-height: 23px;
  overflow: hidden;
  transition: max-height 1.5s ease-in-out, opacity 1.5s ease;
  max-height: 0;
  opacity: 0;
  margin-bottom: 0.5rem;
}
.collapse__content.expanded {
  max-height: 500px;
  opacity: 1;
}

#carrousel-container {
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  margin: auto;
  position: relative;
  border-radius: 0.8rem;
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
  height: 415px;
}

.slide {
  width: 100%;
  height: 415px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
}
.slide.active {
  opacity: 1;
}
.slide .slide-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.leftArrow, .rightArrow {
  z-index: 2;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
}
.leftArrow:hover, .rightArrow:hover {
  opacity: 1;
}
.leftArrow img, .rightArrow img {
  width: 30px;
  height: auto;
}

.leftArrow {
  left: 10px;
}

.rightArrow {
  right: 10px;
}

@media (max-width: 768px) {
  .housing_page {
    min-height: 40rem;
  }
  .housing_page_header {
    flex-direction: column;
    margin-bottom: 0;
  }
  .housing_page_header_infos_tags_tag {
    margin-bottom: 1rem;
  }
  .housing_page_header_hoster {
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
  .housing_page_header_hoster_infos {
    align-items: center;
  }
  .housing_page_header_hoster_infos_name {
    margin-top: 0;
    margin-bottom: 0;
  }
  .housing_page_header_hoster_ratings {
    padding: 0 0.2rem 1rem 0;
  }
  .housing_page_header_hoster_ratings_star {
    padding: 0 0.2rem 3rem 0;
  }
  .housing_page_collapses {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .housing_page_collapses_content {
    width: 100%;
    margin-bottom: 0;
  }
}
.housing_page {
  width: 95%;
  min-height: 35rem;
  margin: 1rem auto 7rem auto;
}
.housing_page_header {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}
.housing_page_header_infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.housing_page_header_infos_title {
  font-size: 35px;
  margin: 0;
}
.housing_page_header_infos_subtitle {
  font-size: 18px;
  margin: 0.2rem 0 1rem 0;
}
.housing_page_header_infos_tags {
  display: flex;
  flex-wrap: wrap;
}
.housing_page_header_infos_tags_tag {
  font-size: 15px;
  color: white;
  background: #ff5656;
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
  margin: 0 1rem 0 0;
  padding: 0.2rem 1.5rem;
  border-radius: 0.5rem;
}
.housing_page_header_hoster {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.housing_page_header_hoster_infos {
  display: flex;
  align-items: center;
}
.housing_page_header_hoster_infos_name {
  width: 120px;
  text-align: right;
  margin-right: 0.5rem;
  font-size: 18px;
}
.housing_page_header_hoster_infos_img {
  width: 3.3rem;
  height: 3.3rem;
  border-radius: 3rem;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.2);
}
.housing_page_header_hoster_ratings {
  margin-top: 1rem;
  text-align: right;
}
.housing_page_header_hoster_ratings_star {
  padding-left: 0.3rem;
  font-size: 25px;
}
.housing_page_header_hoster_ratings_star_grey {
  color: rgb(188, 186, 186);
}
.housing_page_collapses {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.housing_page_collapses_content {
  margin: 1rem 0;
  width: 47%;
}
.housing_page_collapses_content ul {
  margin: 0;
}

html {
  position: relative;
  min-height: 100%;
  margin: auto;
  max-width: 1440px;
  font-size: 18px;
  font-family: "Montserrat-Regular", sans-serif;
  background: #fff;
}

h1, h2 {
  font-family: "Montserrat-Medium", sans-serif;
}

ul {
  padding: 0;
}

li {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}/*# sourceMappingURL=index.css.map */