@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: auto;
}
.header_logo_img {
  width: 10rem;
}
@media (max-width: 768px) {
  .header_logo_img {
    width: 7rem;
  }
}
.header_nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.header_nav_link {
  font-size: 19px;
  margin: 1rem 0.5rem;
}
.header_nav_link_navlink {
  padding: 0.2rem 0.7rem;
  text-decoration: none;
}
.header_nav_link_navlink.header_nav_link_active {
  font-family: "Montserrat-Medium", sans-serif;
}
.header_nav_link_navlink.header_nav_link_inactive {
  transition: all 350ms ease-in-out;
}
.header_nav_link_navlink.header_nav_link_inactive:hover {
  font-family: "Montserrat-Medium", sans-serif;
}

@media (max-width: 768px) {
  .header {
    width: 98%;
  }
  .header_nav ul {
    padding-left: 0;
  }
  .header_nav_link_navlink {
    padding: 0.2rem 0.3rem;
  }
}
.banner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 15px auto;
}
.banner_title {
  z-index: 1;
  color: white;
  font-size: 28px;
  position: absolute;
}
@media (max-width: 768px) {
  .banner_title {
    width: 70%;
    padding-left: 1rem;
    justify-content: start;
  }
}
.banner_img {
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.8rem;
  filter: brightness(50%);
  position: relative;
}
@media (max-width: 768px) {
  .banner {
    width: 98%;
    justify-content: start;
  }
}

.hosting_container {
  width: 95%;
  margin: 2rem auto 9rem auto;
  border-radius: 0.8rem;
}
@media (max-width: 768px) {
  .hosting_container {
    background-color: transparent;
    margin: 0 0 7rem 0;
    padding: 0;
    width: 100%;
  }
}
.hosting_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem;
}
@media (max-width: 768px) {
  .hosting_list {
    padding: 0;
  }
}

.hosting {
  width: 33%;
  transition: transform 250ms ease-in-out;
}
@media (max-width: 768px) {
  .hosting {
    width: 100%;
  }
  .hosting_figure {
    margin: 1rem 0.5rem;
  }
  .hosting_figure_cover {
    height: 400px;
  }
}
@media (min-width: 768px) and (max-width: 1090px) {
  .hosting {
    width: 50%;
  }
}
.hosting_figure {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1803921569);
  margin-block: 0;
  margin-inline: 0;
  margin: 1rem;
  border-radius: 0.5rem;
}
.hosting_figure:hover {
  transform: scale(1.03);
}
.hosting_figure_cover {
  width: 100%;
  height: 290px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5rem;
}
.hosting_figure_figcaption {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 150px;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 13%, rgba(0, 212, 255, 0) 70%);
  border-radius: 0 0 0.5rem 0.5rem;
}
.hosting_figure_figcaption_title {
  color: white;
  font-size: 18px;
  width: 95%;
  position: absolute;
  left: 10px;
  bottom: 0;
}

.footer {
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  background-color: black;
}
.footer_logo {
  margin-top: 1.5rem;
  width: 6rem;
}
.footer_text {
  font-size: 16px;
  margin-bottom: 1.5rem;
  color: white;
}

.error_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title_error {
  font-weight: 700;
  font-size: 250px;
  line-height: 410px;
  margin: 0;
  color: #ff5656;
}
@media (max-width: 768px) {
  .title_error {
    font-size: 160px;
    line-height: 210px;
  }
}

.p_error {
  font-weight: 500;
  font-size: 36px;
  line-height: 51px;
  color: #FF6060;
}
@media (max-width: 768px) {
  .p_error {
    font-size: 18px;
    line-height: 25px;
  }
  .p_error span {
    display: flex;
    flex-direction: column;
  }
}

.link_error {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: black;
  margin-bottom: 1.7rem;
  text-decoration: underline;
}
@media (max-width: 768px) {
  .link_error {
    font-size: 14px;
    line-height: 19px;
    margin-top: 5rem;
  }
}

.collapse_header {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  border-radius: 0.4rem;
  margin: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: #ff5656;
}
.collapse_header_title {
  padding: 0.4rem 0.5rem;
  margin: 0;
  font-size: 18px;
}
.collapse_header_icon {
  padding: 0.4rem 0.5rem;
  font-size: 20px;
}
.collapse_content {
  position: relative;
  z-index: 0;
  padding: 0.8rem 1rem;
  background: white;
  border-radius: 0 0 0.3rem 0.3rem;
  font-size: 16px;
  line-height: 23px;
  overflow: hidden;
  animation: slide 1s ease-in;
  transition: margin-top 1s ease-in-out;
}
@media (max-width: 768px) {
  .collapse_content {
    animation-duration: 2s;
  }
}

@keyframes slide {
  0%, 5% {
    max-height: 0;
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  100% {
    max-height: 100%;
  }
}
html {
  position: relative;
  min-height: 100%;
  margin: auto;
  max-width: 1440px;
  font-size: 18px;
  font-family: "Montserrat-Regular", sans-serif;
  background: #fff;
}

h1, h2 {
  font-family: "Montserrat-Medium", sans-serif;
}

ul {
  padding: 0;
}

li {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}/*# sourceMappingURL=index.css.map */