@import './variables';
.error_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.title_error {
    font-weight: 700;
    font-size: 250px;
    line-height: 410px; 
    margin: 0;
    color: $primary-color;

    @media (max-width: 768px) {
        font-size: 160px;
        line-height: 210px;
    }
}

.p_error {
    font-weight: 500;
    font-size: 36px;
    line-height: 51px;
    color: #FF6060; // Couleur rouge

    @media (max-width: 768px) {
        font-size: 18px;
        line-height: 25px;

        span {
            display: flex;
            flex-direction: column;
        }
    }
}

.link_error {
    display: block;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: black;
    margin-bottom: 1.7rem;
    text-decoration: underline;

    @media (max-width: 768px) {
        font-size: 14px;
        line-height: 19px;
        margin-top: 5rem;
    }
}