@import './variables';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;

    &__logo {
        &-img {
            width: 10rem;

            @media (max-width: 768px) {
                width: 7rem; 
            }
        }
    }

    &__nav {
        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            list-style: none;
        }

        &-link {
            font-size: 19px;
            margin: 1rem 0.5rem;

            &-navlink {
                padding: 0.2rem 0.7rem;
                text-decoration: none;
                transition: all 350ms ease-in-out;
                
                &--active {
                    font-family: $font-secondary;
                    color: $primary-color; // Couleur du texte pour le lien actif
                    border-radius: 0.3rem;
                }

                &:hover {
                    font-family: $font-secondary;
                    color: $primary-color;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .header {
        width: 98%;

        &__nav {
            ul {
                padding-left: 0;
            }

            &-link {
                &-navlink {
                    padding: 0.2rem 0.3rem; 
                }
            }
        }
    }
}